{% extends 'main/index.html' %}
{% load static %}

    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet">


{% block title %} LOGIN {% endblock %}

{% block content %}
    <div class="layout">
        <h1 class="teg-login">ВХОД</h1>
    </div>
    <div class="left">
        <form class="primary-form2" method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <button class="btn2" type="submit">ВОЙТИ</button>
        </form>
    </div>
{% endblock %}